<div id="rank" class="slideIn">
    <link rel="stylesheet" type="text/css" href="css/mui.css">
    <header class="mui-bar header-bar carousel-tabs">
        <div class="carousel-tab active">言情</div>
        <div class="carousel-tab">武侠</div>
        <div class="carousel-tab">古装</div>
        <div class="carousel-tab">都市</div>
        <div class="carousel-tab">校园</div>
    </header>
    <div class="mui-content">
        <div data-plug="pullDownRefresh" class="pullDownRefresh"></div>
        <div data-plug="carousel" class="carousel hasTab refreshBox">
            <div class="carousel_item">
                <div class="container">

                </div>
            </div>
            <div class="carousel_item">
                <div class="container">

                </div>
            </div>
            <div class="carousel_item">
                <div class="container">

                </div>
            </div>
        </div>

    </div>
</div>
