<div id="test">
    <header class="mui-bar">
        <b class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" data-click="back"></b>
        <h1 class="mui-title">排行榜</h1>
    </header>
    <div class="mui-content">
        <div class="carousel-tabs">
            <div class="carousel-tab active">男生</div>
            <div class="carousel-tab">女生</div>
            <div class="carousel-tab">出版</div>
            <div class="carousel-tab">漫画</div>
            <div class="carousel-tab">音频</div>
        </div>
        <div data-plug="pullDownRefresh" class="pullDownRefresh"></div>
        <div class="scroll-wrapper">
            <div data-plug="carousel" class="carousel hasTab refreshBox">
                <div class="carousel_item" style="display: flex;">
                    <div class="rank_list">
                        <div class="rank_item" data-click="toggle_rank" data-para="novel">风云榜</div>
                        <div class="rank_item active" data-click="toggle_rank" data-para="story">风云榜</div>
                        <div class="rank_item" data-click="toggle_rank">风云榜</div>
                        <div class="rank_item" data-click="toggle_rank">风云榜</div>
                        <div class="rank_item" data-click="toggle_rank">风云榜</div>
                        <div class="rank_item" data-click="toggle_rank">风云榜</div>
                        <div class="rank_item" data-click="toggle_rank">风云榜</div>
                        <div class="rank_item" data-click="toggle_rank">风云榜</div>
                        <div class="rank_item" data-click="toggle_rank">风云榜</div>
                    </div>
                    <div class="scroll-content booklist" style="width:75%;">
                        <% _.each(book_list,function(x,i){ %>
                        <div class="mui-table-view-cell">
                            <p style="width: 90%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                                {{x.name}}
                            </p>
                        </div>
                        <% }) %>
                        <!--<div data-plug="carousel" class="carousel">-->
                        <!--<div class="carousel_item">-->
                        <!--<div>小轮播1</div>-->
                        <!--<div>小轮播1</div>-->
                        <!--<div>小轮播1</div>-->
                        <!--</div>-->
                        <!--<div class="carousel_item">-->
                        <!--<div>小轮播2</div>-->
                        <!--<div>小轮播2</div>-->
                        <!--<div>小轮播2</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="carousel_item">
                    <div class="scroll-content">

                    </div>
                </div>
                <div class="carousel_item">
                    <div class="scroll-content">
                    </div>
                </div>
                <div class="carousel_item">
                    <div class="scroll-content">
                    </div>
                </div>
                <div class="carousel_item">
                    <div class="scroll-content">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
