
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<% _.each(text, function(x, i){ %>-->
            <!--<div class="col-xs-3">-->
                <!--<div class="word">{{x}}</div>-->
            <!--</div>    -->
            <!--<% }) %>-->
        <!--</div> -->
    <!--</div>-->
<header class="mui-bar header-bar">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" data-click="back"></a>
    <h1 class="mui-title">语音录制</h1>
</header>
<div class="mui-content">

</div>