
<div id="words">
    <header class="mui-bar header-bar">
        <h1 class="mui-title">首页</h1>
    </header>

    <div class="mui-content">
        <div data-plug="pullDownRefresh" class="pullDownRefresh"></div>
        <ul class="mui-table-view refreshBox">
            <% _.each(word_list,function(x,i){ %>
            <li class="mui-table-view-cell" data-click="goto" data-page="read" data-text="{{ x.text }}">
                <div class="mui-navigate-right">
                    <p style="width: 90%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{ x.text }}</p>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</div>